@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
    padding: 0;
    margin: 0;
}

html {
    background-color: #aed9e0;
}

body {
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 20px;
}

#gallery-box {
    box-sizing: border-box;
    text-align: center;
    background-color: #f0efeb;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    padding: 20px;
}

h2 {
    color: #028090;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    padding: 8px;
}

.image-container img:hover {
    background-color: #B5DDE3;
    cursor: pointer;
}

.splide__slide img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

/*      Tablet */
@media (max-width: 768px) {
    #gallery-box {
        width: 92%;
    }

    .image-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .splide__slide img {
        width: 260px;
        height: 260px;
    }
}

/* Phone*/
@media (max-width: 480px) {
    #gallery-box {
        width: 97%;
        padding: 14px;
    }
    
    .image-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .splide__slide img {
        width: 180px;
        height: 180px;
    }

    .btn {
        padding: 10px 18px;
        font-size: 0.9rem;
    }
}