@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: Outfit;
}

html{
    background-color: #aed9e0;
}

body {
    margin: 0;
    color: #5E6472
}

header {
    text-align: center;
    background-color: #f0efeb;
    padding: auto;
}

header h1{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #028090;
    margin-bottom: 10px;

}

header p{
    margin: 0;
}

body > div{
    text-align: center;
    background-color: #f0efeb;
    padding: 15px;
    margin-bottom: 20px;
}

main {
    width: 80%;
    margin: auto;
}

section{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f0efeb;
}

h2{
    text-align: center;
    color: #028090;
}

#hero p{
    text-align: center;
}

#about_app p{
    text-align: center;
}

#timer-box{
    box-sizing: border-box;
    text-align: center;
    background-color: #f0efeb;
    border-radius: 10px;
    min-width: 50vw;
    max-width: 80vw;
    padding: 20px;
}

#timer{
    max-width: 50%;
    border: 0px solid #5E6472;
    background-color: #aed9e0;
    padding: 2% 10%;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 50px;
    margin: auto;
}

img{
    align-items: center;
    min-width: 20vw;
    max-width: 30vw;
    min-height: 20vw;
    max-height: 30vw;
    padding: 20px;
    border-radius: 50%;
}

img:hover{
    background-color: #B5DDE3;;
}

a{
    font-size: .8rem;
    text-decoration: none;
    color: #028090;
    padding: 2%;
    margin-top: 50px;
}

.features{
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
}

.features h3{
    color: #028090;
}

footer{
    text-align: center;
    background-color: #f0efeb;
    padding: 15px;
}
